footer
  .container.text-center
    p.float-left © 2018 SROA
    ul.float-right.list-inline
      li.list-inline-item
        p UNMSM, Ing. de Software.
        // a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      li.list-inline-item
        p Germán P. De la Cruz D.
        // a(href='https://github.com/sahat/hackathon-starter/issues') Issues
