extends ./layout

block content
  h1 Thesis
  p.lead About the Author
  hr
  .row
    .col-md-8
      label.col-md-2.text-right Name: 
      label.col-md-9.col-form-label.font-weight-bold Germán Pedro
      label.col-md-2.text-right Last name: 
      label.col-md-9.col-form-label.font-weight-bold De la Cruz De la Cruz
      label.col-md-2.text-right Career: 
      label.col-md-9.col-form-label.font-weight-bold Software Engineer
      label.col-md-2.text-right Code: 
      label.col-md-9.col-form-label.font-weight-bold 13200119
      label.col-md-2.text-right E-mail: 
      label.col-md-9.col-form-label.font-weight-bold german.delacruz@unmsm.edu.pe