extends ../layout

block content
  h1 MOVIES
  hr
  -var prev = parseInt(page) -1;
  -var next = parseInt(page) +1;
  center
    a(href="/movies/"+prev) Anterior
    |  | 
    a(href="/movies/"+next) Siguiente
  br
  .row
    for movie in movies
      -var release = new Date(movie.release);
      .col-md-3(style="padding: 15px;")
        a(href='/movies/title/'+movie.movieId)
          img(src='https://image.tmdb.org/t/p/w185/'+movie.poster_path )
          p
          | #{movie.title} (#{release.getFullYear()})