extends ../layout

block content
  h1 #{title.toUpperCase()}
  p.lead Movies by category
  hr
  -var prev = parseInt(page) -1;
  -var next = parseInt(page) +1;
  center
    a(href="/movies/category/"+title+"/"+prev) Prev
    |  | 
    a(href="/movies/category/"+title+"/"+next) Next
  br
  .row
    for movie in movies
      -var release = new Date(movie.release);
      .col-md-3(style="padding: 15px;")
        a(target="_blank" href='/movies/title/'+movie.movieId)
          img(src='https://image.tmdb.org/t/p/w185/'+movie.poster_path )
          p
          | #{movie.title} (#{release.getFullYear()})
  center
    a(href="/movies/category/"+title+"/"+prev) Prev
    |  | 
    a(href="/movies/category/"+title+"/"+next) Next